.stat-name {
  font-weight: 900;
  color: #4c4c4c;

  & span {
    font-weight: initial;
  }
}

.count-number {
  color: #4285f4;
  font-weight: 100;
  font-size: 30px;
}

.desc-wrap {
  word-wrap: break-word;
}

.details-btn {
  background-color: var(--pf-c-button--m-tertiary--after--BorderColor);
  color: var(--pf-c-button--m-primary--Color);
}
